.container{
    height: 70rem;
    background-color: rgb(136, 127, 255);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 1rem;
}

.title{
    width: inherit;
    height: 10%;
    font-size: 6rem;
    padding-left: 5rem;
}

.main{
    width: inherit;
    height: 90%;
    background-color: black;
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
}

.leftContainer{
    background-color: white;
    width: 50%;
}

.rightContainer{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    width: 50%;
    padding: 3rem;
}

.memberImage{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.memberDetail{
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.upper{
    width: 100%;
    height: 30%;
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lower{
    width: 100%;
    height: 70%;
    outline: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.mainDetail{
    font-size: 5rem;
    color: white;
}
.subDetail{
    font-size: 2rem;
}

@media screen and (max-width: 2300px) {
    .leftContainer{
        width: 50%;
    }

    .rightContainer{
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .container{
        height: 50rem;
    }

    .leftContainer{
        width: 100%;
    }

    .rightContainer{
        display: none;
    }

    .title{
        font-size: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        height: 30rem;
        gap: 1rem;
    }
    .title{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .leftContainer{
        width: 100%;
    }

    .rightContainer{
        display: none;
    }
}