.container{
    width: 90%;
    height: 180rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 10rem;
    background-color: rgba(255, 255, 255, 0.049);
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
}

.title{
    font-size: 7rem;
    font-weight: 900;
}

.workImg{
    width: 60%;
    height: 20%;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow:0px 0px 25px 0px rgba(68,255,0,0.99);
    -moz-box-shadow: 0px 0px 25px 0px rgba(68,255,0,0.99);
    box-shadow: 0px 0px 25px 0px rgba(68,255,0,0.99);
}

.detailContainer{
    display: flex;
    width: inherit;
    flex-direction: column;    
    gap: 1rem;
    margin-top:5rem;
    padding-left: 5rem;
}
.subHeader{
    font-size: 4rem;
    font-weight: 700;
}

.description{
    font-size: 2rem;
}

.typeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10rem;
}

@media screen and (max-width: 1024px) {
    .workImg{
        height: 20%;
    }
}

@media screen and (max-width: 600px) {
    .workImg{
        height: 10%;
    }
    .title{
        font-size: 4rem;
    }
    .subHeader{
        font-size: 2rem;
    }
    .detailContainer{
        padding-left: 0;
        margin-top: 1rem;
    }

    .description{
        font-size: 1rem;
    }

    .typeContainer{
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }
}