.container{
    width: 100%;
    height: 60rem;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
        url('../../../img/Backgrounds/Work-Banner.jpg');

    background-size: cover;
    background-position: right;

    padding-left: 5rem;
}

.title{
    font-size: 8rem;
}

.description{
    font-size: 2rem;
    width: 40%;
}

@media screen and (max-width: 1024px) {
    .title{
        font-size: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        height: 30rem;
    }
    
    .title{
        font-size: 3rem;
    }

    .description{
        font-size: 1rem;
    }
}