*{
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html, body{
  background-color: black;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


span, p, button{
  color: black;
}

button{
  padding: 0rem;
  border: none;
}

a{
  text-decoration: solid;
}

input{
  height: 0;
  width: 0;
}