.container{
    width: 95%;
    height: 80rem;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 5rem;

    border: 1px solid gray;
    border-radius: 3rem;

    -webkit-box-shadow:0px 0px 15px 4px rgba(212,212,212,0.9);
    -moz-box-shadow: 0px 0px 15px 4px rgba(212,212,212,0.9);
    box-shadow: 0px 0px 15px 4px rgba(212,212,212,0.9);
}

.leftContainer{
    width: 50%;
    height: inherit;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rightContainer{
    width: 50%;
    height: inherit;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputItem{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:.5rem;
}

.subHeader{
    font-size: 2rem;
    margin-left: 1rem;
}

.inputItem input{
    width: 100%;
    height: 50%;
    color: rgb(146, 146, 146);
    padding: 2rem;
    font-size: 1rem;
    background-color: rgb(81, 81, 81);
    border-radius: 1.5rem;
    border: 1px solid rgb(134, 134, 134)
}

.title{
    font-size: 4rem;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.checkboxContainer{
    display: flex;
    width: 60%;
    height: inherit;
}

.checkboxItem{
    display: flex;
    flex-direction: row;
}

.checkboxItem input{
    width: 1rem;
    height: 1rem;
}

.checkboxItem div{
    font-size: 1.2rem;
}

.item div{
    font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .container{
        margin-top: 3rem;
        height: 80rem;
    }

    .title{
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        height: 70rem;
    }

    .title{
        font-size: 1.5rem;
    }

    .item div{
        font-size: .8rem;
    }

    .rightContainer{
        gap: 0;
    }

    .subHeader{
        font-size: 1rem;
    }

    .inputItem input{
        width: 100%;
        font-size: 1rem;
    }

}