:root {
    --monster-green: #4ED300; 
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
}

.navbar_left, .navbar_right{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    /* padding: 0 10rem; */;
}

.navbar_name {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar_name:hover {
    color: var(--monster-green); /* Green highlight on logo hover */
}

.navbar_left{
    font-size: 3rem;
    padding-left: 5rem;
}

.navbar_right{    
    font-size: 2rem;
    justify-content: center;
    gap: 6rem;
    padding-left: 20rem;
}

.navbar_hamburger{
    display: none;
}

.navbar_icon{
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navbar_icon:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--monster-green);
    transition: width 0.3s ease-in-out;
}

.navbar_icon:hover:after {
    width: 100%;
}

@media screen and (max-width: 1024px){
    .navbar_left{
        font-size: 2.5rem;
    }
    
    .navbar_right{
        font-size: 1.5rem;
        gap: 3.5rem;
        padding-left: 5rem;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        height: 60px;
    }
    .navbar_left, .navbar_right{
        padding: 0rem 3rem;
    }

    .navbar_left{
        padding-left: 3rem;
        font-size: 2rem;
    }

    .navbar_right{
        justify-content: flex-end;
        padding-right: 3rem;
    }
    
    .navbar_hamburger{
        display: block;
    }

    .navbar_icon{
        display: none;
    }
}


/* --- Mobile Menu Overlay Styles --- */
.mobile_menu_overlay {
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.98); 
    display: flex;
    flex-direction: column;
    padding: 2rem;
    animation: fadeIn 0.3s ease-out; 
}

.mobile_menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem; 
    height: 60px;
}

.close_btn {
    cursor: pointer;
    color: black;
    position: absolute;
    top: 2rem;
    right: 3rem;
}

.mobile_nav_links {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

.menu_item {
    font-size: 2.5rem;
    padding: 1.5rem 0;
    text-decoration: none;
    color: rgb(255, 255, 255); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.359);
    width: 100%;
    text-align: center;
    letter-spacing: 0.5rem;
    transition: color 0.3s ease-in-out;
}


@media screen and (max-width: 600px){    
    .navbar_hamburger{
        display: block;
    }

    .navbar_icon{
        display: none;
    }
}