.container{
    width: 100%;
    height: 180rem;
    padding: 5rem;
}

.title{
    font-size: 5rem;
}

.memberContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: inherit;
    height: auto;
    padding-top: 2rem;
}

.memberItem{
    flex-basis: calc(100% / 4); 
  
  /* Prevent the items from shrinking when they wrap, 
     but allow them to grow if needed (optional based on design) */
    flex-grow: 1;
    flex-shrink: 0;
    background-color: rgb(0, 0, 0);

    margin: 2rem;
    height: 50rem;

    border-radius: 5rem;
    border: 1px solid rgb(90, 90, 90);
}

@media screen and (max-width: 1024px) {
    .container{
        height: 100rem;
    }
    .memberItem{
        margin: 1rem;
        height: 25rem;
        border-radius: 2.5rem;
    }
    
    .title{
        font-size: 4rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        height: 390rem;
    }
    .memberItem{
        flex-basis: calc(100% / 2); 
        height: 40rem;
    }

    .title{
        font-size: 2rem;
    }
}