
.btn{
    width: 12rem;
    height: 4rem;
    font-size: 1.5rem;
    border: 3px solid rgba(161, 161, 161, 0.208);
    color: rgb(0, 0, 0);
    border-radius: 1.5rem;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    -webkit-box-shadow:0px 0px 10px 2px rgba(255,255,255,0.99);
    -moz-box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.99);
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.99);

    transition: transform 0.1s ease-out;
    transition: color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.btn:hover{
    transform: scale(1.2);
    background-color: rgba(176, 176, 176, 0.404);
    color: white;
}

@media screen and (max-width: 600px){
    .btn{
        width: 7rem;
        height: 2rem;
        font-size: 1rem;
        margin-top: 1rem;
    }
}