@keyframes scroll {
    to {
        transform: translate(calc(-50% - var(--_gap, 1rem)));
    }
}

.container{
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin-bottom: 3rem;
    overflow-x: hidden;
    margin-top: 3rem;
}

.title{
    height: 10%;
    font-size: 6rem;
    margin-bottom: 6rem;
    margin-left: 3rem;
    text-align: center;
    font-weight: bold;
}

.scroller{
    max-width: 100%;
    --_gap:2rem;
}

.scroller[data-animated="true"] .scrollerInner {
    animation: scroll 40s linear infinite;
}

/* .scroller[data-animated="true"]:hover .scrollerInner {
    animation-play-state: paused;
} */

.scrollerInner {
    display: flex;
    gap: var(--_gap);
    width: max-content;
}

.reviewCard {
    width: 30rem; 
    flex-shrink: 0;
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 1.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 30rem;
    border: 3px solid rgb(111, 111, 111);
    
    -webkit-box-shadow:0px 0px 31px 2px rgba(255,255,255,0.99);
    -moz-box-shadow: 0px 0px 31px 2px rgba(255,255,255,0.99);
    box-shadow: 0px 0px 31px 2px rgba(255,255,255,0.99);
}

.stars {
    margin-bottom: 0.5rem;
    display: flex;

    color: black !important;
}

.stars svg {
    fill: gold !important;
}

.reviewText {
    font-size: 2rem;
    margin-bottom: 3.5rem;
    height: 60%;
    overflow: hidden; 
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    font-size: 1.25rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .container{
        height: 50rem;
        padding: 1rem;
    }

    .title{
        font-size: 4rem;
        margin-bottom:  3rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        height: 30rem;
        margin-bottom: 5rem;
    }

    .title{
        font-size: 2.5rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    .reviewCard {
        width: 20rem; 
        height: 20rem;
    }

    .reviewText{
        font-size: 1rem;
        margin-bottom: 0rem;
    }
}