.container{
    width: 80%;
    height: 70rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    gap: 5rem;
    margin-bottom: 10rem;
    border: 3px solid white;

    -webkit-box-shadow:0px 0px 31px 14px rgba(171,171,171,0.99);
    -moz-box-shadow: 0px 0px 31px 14px rgba(171,171,171,0.99);
    box-shadow: 0px 0px 31px 14px rgba(171,171,171,0.99);
}   

.title, .contactUsBtn{
    color: rgb(255, 255, 255);
    font-size: 5rem;
    
}

.title span{
    color: white;
    font-weight: 900;
}


.contactUsBtn{
    text-align: center;
    line-height: 4;
    width:50%;
    height: 30%;
    color: white;
    font-weight: 900;
    border-radius: 5rem;


    background: linear-gradient(90deg, 
        #000000 0%,               /* Black start */
        #111111 25%,               /* Dark Gray */
        #4ED300 50%,               /* Monster Green Highlight (The "Shine") */
        #111111 75%,               /* Dark Gray */
        #000000 100%               /* Black end */
    );
    background-size: 200% 100%;
    background-position: 0% 0;
    transition: all 0.5s ease-out;
}

.contactUsBtn:hover{
    transform: scale(1.2);
    background-position: 100% 0;
    cursor: pointer;

    -webkit-box-shadow:0px 0px 47px 11px rgba(66,247,0,0.99);
    -moz-box-shadow: 0px 0px 47px 11px rgba(66,247,0,0.99);
    box-shadow: 0px 0px 47px 11px rgba(66,247,0,0.99);
}

@media screen and (max-width: 1024px) {
    .container{
        height: 30rem;
        width: 90%;
        gap: 4rem
    }
    .title, .contactUsBtn{
        font-size: 3rem;
    }

    .contactUsBtn{
        width: 60%;
        line-height: 3;
    }
}

@media screen and (max-width: 600px) {
    .container{
        margin-top: 3rem;
        height: 20rem;
        width: 90%;
        gap: 4rem;
        border-radius: 3rem;
    }
    .title, .contactUsBtn{
        font-size: 1.4rem;
    }

    .contactUsBtn{
        line-height: 4;
    }
}