.container{
    height: 50rem;
    background-color: rgb(223, 127, 255);
    display: flex;
    flex-direction: row;
    padding: 5rem;
}

.leftContainer{
    width: 50%;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-left: 3rem;
    padding-top:6rem;
}

.title{
    font-size: 7rem;
}

.learnMoreBtn{
    width: 40%;
    height: 10%;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 1.5rem;
}

.rightContainer{
    width: 50%;
    /* background-color: rgb(19, 95, 95); */
    display: flex;
    /* align-items: center; */
    font-size: 3rem;
    padding-top:6rem;
}
@media screen and (max-width: 1024px) {
    .container{
        height: 40rem;
    }

    .title{
        font-size: 3rem;
    }

    .learnMoreBtn{
        font-size: 1rem;
    }

    .rightContainer{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        height: 20rem;
    }    

    .title{
        font-size: 1.5rem;
    }
    
    .leftContainer{
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .learnMoreBtn{
        font-size: 0.4rem;
    }

    .rightContainer{
        font-size: 0.8rem;
        padding-top: 1rem;
    }
}