.container{
    height: 70rem;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.title{
    font-size: 7rem;
    margin-bottom: 3rem;
}

.wordCloud{
    width: 100%;
    height: 80%;
    background-color: white;
}

@media screen and (max-width: 1024px) {
    .container{
        justify-content: center;
        text-align: center;
        padding: 3rem;
    }
    .title{
        font-size: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        padding: 2rem;
        height: 30rem;
    }
    .title{
        margin-bottom: 1rem;
        font-size: 2.3rem;
    }
}