.container{
    height: 70rem;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.title{
    font-size: 7rem;
    margin-bottom: 3rem;
}

.wordCloud{
    width: 100%;
    height: 80%;
    background-color: white;
}