.container{
    width: 100%;
    height: 200rem;
    background-color: red;
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 5rem;
}

.item{
    width: 90vw;
    height: 60%;
    background-color: white;
}

.lastItem{
    margin-bottom: 10rem;
}

@media screen and (max-width: 1024px){
    .container{
        height: 120rem;
    }

    .item{
        height: 60%;
    }
}

@media screen and (max-width: 600px){
    .container{
        padding-top: 3rem;
        height: 50rem;
        gap: 2rem;
    }
    .item{
        width: 90vw;
        height: 30%;
    }

    .lastItem{
        margin-bottom: 5rem;
    }
}