.container{
    width: 100%;
    height: 200rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 5rem;
}

.item{
    width: 90vw;
    height: 60%;
    background-color: white;


    transition: transform 0.3s ease-out;

    -webkit-box-shadow:0px 0px 30px 2px rgba(55,189,6,0.99);
    -moz-box-shadow: 0px 0px 30px 2px rgba(55,189,6,0.99);
    box-shadow: 0px 0px 30px 2px rgba(255, 255, 255, 0.99);
}

.item:hover{
    transform: scale(1.05);

    box-shadow: 0px 0px 30px 2px rgba(55,189,6,0.99);
}

.detailContainer{
    width: inherit;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.item:hover .detailContainer {
    opacity: 1;
    cursor: pointer;
}

.itemDetail{
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.99);
}

.firstItem{
    background: url("../../../img/Project/FinalPotato.JPG");
    background-size: cover;
    background-position: center;
}

.secondItem{
    background: url("../../../img/TopWork/secondPicture.JPG");
    background-size: cover;
    background-position: center;
}

.lastItem{
    margin-bottom: 10rem;
    background: url("../../../img/TopWork/Dolorem.jpg");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px){
    .container{
        height: 120rem;
    }

    .item{
        height: 60%;
    }
}

@media screen and (max-width: 600px){
    .container{
        padding-top: 3rem;
        height: 70rem;
        gap: 2rem;
    }
    .item{
        width: 90vw;
        height: 30%;
        -webkit-box-shadow:0px 0px 30px 2px rgba(55,189,6,0.99);
        -moz-box-shadow: 0px 0px 30px 2px rgba(55,189,6,0.99);
         box-shadow: 0px 0px 30px 2px rgba(55,189,6,0.99);
    }

    .item:hover{
        transform: scale(1);
    }

    .lastItem{
        margin-bottom: 5rem;
    }
}