.checkboxItem{
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkboxTitle{
    margin-left: 1rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}