.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    align-items: center;
    font-size: 3rem;
    border-bottom: 1px solid #fff;
}

.navbar_left, .navbar_right{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10rem;
}

.navbar_right{    
    font-size: 2.5rem;
    justify-content: flex-end;
    gap: 6rem;
}

.navbar_hamburger{
    display: none;
}

.navbar_icon{
    display: block;
}
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 600px){
    .navbar{
        font-size: 1rem;
        height: 50px;
    }
    .navbar_left, .navbar_right{
        padding: 0rem 3rem;
    }
    
    .navbar_hamburger{
        display: block;
    }

    .navbar_icon{
        display: none;
    }
}