.container{
    background-color: #fff;
    width: 100%;
    height: 60rem;
    outline: 2px solid springgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    font-size: 5rem;
    margin-bottom: 1rem;
    color: black;
}

.description{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.btn_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.btn{
    width: 12rem;
    height: 4rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
}


@media screen and (max-width: 1024px){
    .name{
        font-size: 3rem;
    }

    .description{
        font-size: 1.5rem;
    }

    .btn_container{
        gap: 1rem;
    }
}

@media screen and (max-width: 600px){
    .container{
        padding-bottom: 6rem;
        height: 50rem;
    }
    .name{
        font-size: 3rem;
    }   

    .description{
        font-size: 1.5rem;
    }

    .btn_container{
        flex-direction: column;
        gap: 1rem;
    }
}
