.container{
    width: 90%;
    height: 70rem;
    display: flex;
    justify-self: center;
    margin-bottom: 10rem;
}

.topContainer{
    display: none;
}

.leftContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(54, 54, 54);
}

.rightContainer{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.workTypeContainer{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 60%;
    align-items: center;
    padding-top: 2rem;
    background-color: rgb(0, 0, 0);
}

.productionPeriodContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 85%;
    height: 15%;
    align-items: center;
    padding-top: 3rem;
    background-color: rgb(0, 0, 0);
}

.categoryTitle{
    font-size: 3rem;
    width: 90%;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    color: rgb(0, 0, 0);
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    height: 95%;
    width: 95%;
    overflow-x: auto;
    background-color: white;
}

.group{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5rem;
    align-items: center;
    /* animation: spin 5s infinite linear; */
}


@keyframes spin {
    from {
        transform: translateX(0);
    }
    to {
        
        transform: translateX(-100%); 
    }
}

@media screen and (max-width: 1024px) {
    .container{
        height: 60rem;
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .topContainer{
        display: flex;
        width: 100%;
        height: 10rem;
        background-color: aqua;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }

    .leftContainer{
        display: none;
    }

    .rightContainer{
        width: 100%;
        height: 50rem;
    }

    .card{
        flex: 0 0 25rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        height: 40rem;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .leftContainer{
        display: none;
    }

    .topContainer{
        gap: 1rem;
    }

    .card{
        flex: 0 0 20rem;
    }
}