.container{
    width: 90%;
    height: 70rem;
    outline: 3px solid red;
    display: flex;
    justify-self: center
}

.topContainer{
    display: none;
}

.leftContainer{
    width: 30%;
    background-color: rgb(255, 185, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightContainer{
    width: 70%;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.workTypeContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 70%;
    outline: 3px solid red;
    align-items: center;
    padding-top: 2rem;
}

.productionPeriodContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 30%;
    outline: 3px solid rgb(89, 0, 255);
    align-items: center;
    padding-top: 2rem;
    gap: 3rem;
}

.categoryTitle{
    font-size: 3rem;
}

.carousel{
    height: 95%;
    width: 95%;
    overflow-x: auto;
    background-color: white;
}

.group{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5rem;
    align-items: center;
    /* animation: spin 5s infinite linear; */
}

.card{
    flex: 0 0 35rem;
    width: 45%;
    height: 95%;
    background-color: black;
    color: white;
    font-size: 10rem;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }
    to {
        
        transform: translateX(-100%); 
    }
}

@media screen and (max-width: 1024px) {
    .container{
        height: 60rem;
        flex-direction: column;
    }

    .topContainer{
        display: flex;
        width: 100%;
        height: 10rem;
        background-color: aqua;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }

    .leftContainer{
        display: none;
    }

    .rightContainer{
        width: 100%;
        height: 50rem;
    }

    .card{
        flex: 0 0 25rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        height: 40rem;
        flex-direction: column;
    }

    .leftContainer{
        display: none;
    }

    .topContainer{
        gap: 1rem;
    }

    .card{
        flex: 0 0 20rem;
    }
}